/* Meyer Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  border: 0;
}

/* Root variables for colors */
:root {
  --heading-color: #563C2E;
  --cta-color: #3CB4C9;
  --bg-color: #F0ECE3;
  --text-color: #000000;
  --footer-color: #80604D;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 460px;
}

.navbar {
  background-color: var(--bg-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-nav > li {
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 30pt;
  line-height: 32pt;
  margin: 20px 1px;
  color: var(--heading-color);
  font-weight: bold;
  text-align: center;
}

h2, h3, h5 {
  color: var(--heading-color);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 36pt;
  margin: 1rem;
}

h3 {
  font-size: 28pt;
}

h5 {
  font-size: 20pt;
}

p {
  font-size: 20pt;
  line-height: 26pt;
  margin: 1rem;
  color: var(--text-color);
}

a .map-address {
  font-size: 20pt;
  line-height: 26pt;
  margin: 1rem;
  color: var(--text-color);
}

.square-image {
  width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.action-btn {
  display: block;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--heading-color);
  font-size: 20pt;
  font-weight: 500;
  border: 2px solid var(--heading-color);
  border-radius: 8px;
  width: 80%;
  padding: 12px;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 0 2px rgba(17, 17, 17, 0.2);
}

.action-btn:hover {
  opacity: 0.85;
  background-color: var(--cta-color);
  color: var(--bg-color);
}

.action-btn:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

footer {
  background-color: var(--footer-color);
  color: white;
}

footer .text-body-secondary {
  color: white !important;
}

.text-center.text-body-secondary {
  font-size: 14px;
}

footer .navbar-brand {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin: 1rem;
}

footer .navbar-brand .logo {
  width: 350px;
  height: auto;
}

.nav-link {
  font-size: 16pt;
}

.form-check-input {
  width: 24px;
  height: 24px;
  margin-top: 0.3rem;
}
.form-check-label {
  font-size: 16pt;
  margin-left: 0.5rem;
}

@media (max-width: 1023px) {

  h2 {
    font-size: 26pt;
  }

  h3 {
    font-size: 22pt;
  }

  p {
    font-size: 16pt;
    line-height: 28pt;
  }
}
